.player-info {
    position: absolute;
    left:1220px; 
    top:465px;
    font-size: 45px;
}

.input-boxes {
    position: flex;
    margin-left: 1200px;
    margin-top: 10px;
    font-size: 45px;
}